################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/binaryTreeProj/.vs/binaryTreeProj/v15/Server/sqlite3
